%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
  %body
    %center
      %br
      %br
      %br
      %form(method="post" enctype='multipart/form-data')
        %input(type='file' name='myfile' class='custom-file-input')
        %br
        %br
        %input(type='text' name='time' placeholder='time in minutes (#{@times.join(', ')}) - default: 1' class='custom-text-input')
        %br
        %br
        %input(type='submit' value='UPLOAD')

