%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #menu
      %center
        %a{:title => '', :href => 'https://github.com/nopedial/up'}
          %img(src="images/GitHub_Logo.png" width=60 height=60)
    #main
      %center
        %form(method="post" enctype='multipart/form-data')
          %input(type='text' name='time' placeholder='time in minutes: #{@times.join(', ')} - default 0 (keep forever)' class='custom-text-input')
          %br
          %input(type='file' name='myfile' class='custom-file-input')
          %br
          %br
          %input(type='submit' value='UPLOAD')
        %br
        %br
