%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
  %body
    %form(method="post" enctype='multipart/form-data')
    #FileUpload
      %input(type='file' name='myfile' id='BrowserHidden')
      %br
      %input(type='submit' id='FileField')
